// Background Colours
.bg-c-default
	background default-colour

.bg-c-primary
	background primary-colour

.bg-c-secondary
	background secondary-colour

.bg-c-white
	background white-colour

.bg-c-grey
	background grey-colour