.mega-menu-wrap
	ul
		float right
		margin 0
		
		li
			float left
			line-height 100px
			margin 0
			position relative
			padding: 0 20px
				
			
			
			&:first-of-type
				padding-left 0px

				a
					padding-left 0
				
			&:last-of-type
				padding-right 0px

				a
					padding-right 0
				
			&.menu-item-has-children 
				margin-top -1.73px

				> a:after
					content "\f107"
					font-family "Font Awesome"
					vertical-align -0.02em
					margin-left 5px
				
				.arrow
					display none

				li
					margin 0

			&:hover
			&:focus
				.sub-menu
					left auto

			a
				color white-colour

				
				&.current-menu-item
				&:hover
					color grey-colour
			
			.sub-menu
				background transparent
				z-index 999
				left -999em
				top 100px
				width 200px
				position absolute
				padding-top 2px
				box-shadow 0 7px 20px 0 rgba(0, 0, 0, 0.1)
				
				li
					line-height 50px
					float none;
					display block
					padding 0
					border-bottom 1px solid #DDD
					
					&.menu-item-has-children
						> a:after
							content "\f105"
							float right
					
					&:hover
					&:focus
						.sub-menu
							left 200px
							
					&:last-of-type
						border-bottom none

					a
						padding 0 15px
						display block
						color text-colour
						background white-colour
						
						&:hover
							background default-colour
							color white-colour
						
					.sub-menu
						left -999em
						top 0
						padding-top 0




/*

Mega Menu Page

*/



#mega-menu-wrap-primary {
	background-color: black;
	float: right
}


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link {
	background: black;
	transition: all 400ms ease-in-out;
	font-weight: bold
	font-size: 14px
}


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item
	padding: 0 6px !important



#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link
	font-weight: bold
	font-size: 14px


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover {
	border-bottom: 3px solid #bfe8e7;
	transition: all 400ms ease-in-out;
	background: black;
	font-weight bold
}



#mega-menu-wrap-primary 




	#mega-menu-primary 
		padding: 30px 0



		> li.mega-menu-item 
			float left
			line-height 100px
			margin 0
			position relative
			padding: 0 20px


			&:first-of-type
				padding-left 0px

				a
					padding-left 0
				
			&:last-of-type
				padding-right 0px

				a
					padding-right 0


			&.menu-item-has-children 
				margin-top -1.73px

				> a:after
					content "\f107"
					font-family "Font Awesome"
					vertical-align -0.02em
					margin-left 5px
				
				.arrow
					display none

				li
					margin 0
			

			&:hover
			&:focus
				.sub-menu
					left auto

			a
				color white-colour

				&:focus
					background-color: black

				
				&.current-menu-item
				&:hover
					color grey-colour
			
			.sub-menu
				background transparent
				z-index 999
				left -999em
				top 100px
				width 200px
				position absolute
				padding-top 2px
				box-shadow 0 7px 20px 0 rgba(0, 0, 0, 0.1)
				
				li
					line-height 50px
					float none;
					display block
					padding 0
					border-bottom 1px solid #DDD
					
					&.menu-item-has-children
						> a:after
							content "\f105"
							float right
					
					&:hover
					&:focus
						.sub-menu
							left 200px
							
					&:last-of-type
						border-bottom none

					a
						padding 0 15px
						display block
						color text-colour
						background white-colour
						
						&:hover
							background default-colour
							color white-colour
						
					.sub-menu
						left -999em
						top 0
						padding-top 0



		> li.mega-menu-item.mega-toggle-on
			background: black



#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link
	color: white-colour
	display: inline-block
	position: relative
	text-transform: capitalize
	font-weight: normal


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover
	color white-colour

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover::after
	content: ''
	position: absolute
	bottom: 0
	left: 0
	height: 2px
	width: 100%
	display: block
	background: blue-colour
	transition: all 400ms ease-in-out

#mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu
	padding: 0px 0 33px 0;
	margin-top: 20px;


.mega-subheading-title
	padding-left 15px


#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item:first-child
	padding-left 15px



.pattern-shape
	position absolute
	left: 0
	top: 0
	z-index -1
	display: none


#mega-menu-26-0
	display: block !important
	margin-bottom: -25px !important

#mega-menu-item-custom_html-6 .sub-title
#mega-menu-item-custom_html-8 .sub-title
#mega-menu-item-custom_html-7 .sub-title
	display: inline-block

#mega-menu-item-custom_html-6 .sub-title:hover
	border-bottom: 1px solid pink-colour

#mega-menu-item-custom_html-7 .sub-title:hover
	border-bottom: 1px solid blue-colour

#mega-menu-item-custom_html-8 .sub-title:hover
	border-bottom: 1px solid purple-colour

#mega-menu-item-custom_html-6 .sub-title h4
	color: pink-colour !important


#mega-menu-item-custom_html-7 .sub-title h4
	color: blue-colour !important

	

#mega-menu-item-custom_html-8 .sub-title h4
	color: purple-colour !important
		


#mega-menu-item-823
#mega-menu-item-23
	.mega-sub-menu
		padding-bottom 0px !important

	.mega-menu-item-837
	.mega-menu-item-838
	.mega-menu-item-819
	.mega-menu-item-820
	.mega-menu-item-832
		.mega-menu-link
			color: white-colour !important
			background: default-colour !important

			&:hover
				color: blue-colour !important

#mega-menu-24-0-0
#mega-menu-26-0-0
	width: 100% !important
	display: block !important

#mega-menu-24-0-0
	margin-bottom: -35px !important

#mega-menu-26-0-0
	margin-bottom -9px !important

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover
	font-weight: normal !important

#mega-menu-item-823 .mega-sub-menu .mega-menu-item .mega-menu-link
	padding: 15px !important

#mega-menu-item-23 .mega-sub-menu .mega-menu-item .mega-menu-link
	padding: 15px !important


#mega-menu-wrap-primary > #mega-menu-primary
	padding-top: 35px !important
