// Header Parts
header-top = true
header-main = false
header-bottom = true
 
// Footer Parts
footer-top = true
footer-main = false
footer-bottom = true

// Vendors
bootstrap = true
whatsapp = true
slick = false
cf7 = true
font-awesome = true
animations = false
visual-composer = false

// Theme Styles
//-> Body
main-line-height = 1.4em
main-transition-seconds = 0.6s

// -> Fonts
font-file-base = 'fonts/web-fonts/'
main-font-size = 14px
main-font-weight = 400
main-font-family-name = "Hind"
main-font-family-type = sans-serif
main-font-family = main-font-family-name, 'Arial', main-font-family-type

// -> Colours
default-colour = black
primary-colour = #F5F5F5
secondary-colour = #131313
white-colour = #FFFFFF
grey-colour = #F5F5F5
text-colour = #757575
blue-colour = #bfe8e7;
pink-colour = #ffc6d9;
purple-colour = #be9dde;


// -> Headings
heading-colour = default-colour
heading-font-family-name = main-font-family-name
heading-font-family-type = sans-serif
heading-font-family = heading-font-family-name, heading-font-family-type
heading-line-height = 1.1em
heading-font-weight = 600

// -> Form Colours
success-bg-colour = #398F14
success-text-colour = white-colour
warning-bg-colour = #F7E700
warning-text-colour = #232220
error-bg-colour = #F52320
error-text-colour = white-colour

// Theme Parts
blog = true
sidebar = true
form = true