// Light Font
font-face(main-font-family-name, 'neue/hind-light', 300);

// Regular Font
font-face(main-font-family-name, 'neue/hind-regular');

// Bold Font
font-face(main-font-family-name, 'neue/hind-bold', 700);