// Footer Top
if footer-top
	#footer-top
		padding 50px 0
		
		h4
			margin-top 0
			margin-bottom 15px

// Footer Main
if footer-main
	#footer-main
		padding 85px 0
		
		h4
			margin-top 0
			margin-bottom 15px

// Footer Bottom
if footer-bottom
	#footer-bottom
		padding 15px 0

// Footer Styles
#footer
	position relative
	background-img('/wp-content/uploads/2023/02/Footer.png','','',0% 0%)
	margin-top -100px

	#footer-top
		padding: 150px 0 50px


		.gi-row
			&:nth-last-child(2)
				padding-top 35px


		.nav-title
			margin-top 50px
			margin-bottom 20px

		.menu
			.list-menu
				a
					transition: all 400ms ease-in-out
					font-weight: inherit
					&:hover
						transition: all 400ms ease-in-out
						color: blue-colour



		ul.menu-social
			margin-top 35px
			.social-menu-item
				display: inline-block
				margin-right: 50px
				a
					i
						color: white-colour
						transition: all 400ms ease-in-out

						&:hover
							color: blue-colour


		ul.menu-awards
			display: table
			.menu-awards-item
				text-align: center;
				vertical-align: middle;
				display: inline-block;
				margin-bottom: 0px;
				margin-left: 50px;
				img
					max-width: 100px


				

		ul.imp-links
			text-align: right 
			padding-top 7px
			li
				display: inline-block

				a
					font-weight: normal

					&:hover
						color: blue-colour

			li + li
				margin-left: 25px


		.gi-row
			&:nth-child(4)
				padding-top 50px







	.copyright
		margin 0
		color white-colour

		a
			color white-colour
			
			&:hover
				color blue-colour



	