// Header Top
if header-top
	#header-top
		padding-top 15px
		padding-bottom 15px
		
		ul
			li
				a
					color white-colour

					&:hover
						color secondary-colour
			
			&.contact
				li
					i
						color secondary-colour
			
			&.social
				li
					i
						margin-right 0

/* Header Style */

header
	padding: 50px 0
	position relative
	z-index 1

.main-header
	background: transparent
	position relative
	z-index 1

	.logo
		height 100px
		display block
		width auto
		padding 15px 0

		&:hover
			border-bottom: 0px

		
		img
			height 100%
			width auto


	a
		color: white-colour
		transition: all 400ms ease-in-out

		&:hover
			color grey-colour
			border-bottom: 3px solid lightgreen