if sidebar
	#secondary
		.widget
			background grey-colour
			padding 30px
			margin-bottom 30px
			
			.widget-title
				margin 0 0 15px
				font-size 1.5em
		
		ul
			li
				margin-bottom 15px
				
				span
					display block
					margin-top 3px
					font-size 0.8em

		&:last-of-type
			margin-bottom 0