// Links
a
	color white-colour
	transition main-transition-seconds
	
	

// Paragraph
p
	margin: 15px 0
	line-height 2em

// Headings
h1
h2
h3
h3
h4
h5
h6
.h1
.h2
.h3
.h3
.h4
.h5
.h6
	color heading-colour
	font-family heading-font-family
	line-height heading-line-height
	font-weight heading-font-weight

h1
h2
h3
.h1
.h2
.h3
	margin-top 20px
	margin-bottom 10px
	
h4
h5
h6
.h4
.h5
.h6
	margin-top 10px
	margin-bottom 10px


.heading
	font-size: calc(3.5em + 0.390625vw);
	color: white-colour
	line-height: 130%

h1
.h1
	// font-size 2.6em
	font-size: calc(3em + 0.390625vw);
	color: white-colour
	line-height: 130%

h2
.h2
	// font-size 2.1em
	font-size: calc(2.2em + 0.390625vw);
	color: white-colour
	line-height: 130%
h3
.h3
	// font-size 1.7em
	font-size: calc(1.1em + 0.390625vw);
	color: white-colour

h4
.h4
	font-size: calc(11px + 0.390625vw);
	color: white-colour

h5
.h5
	font-size 1em

h6
.h6
	font-size 0.8em

.headline
	font-size 2.6em
	margin 0 0 20px

.subheading
	font-size: calc(1.8em + 0.390625vw);
	letter-spacing: 1px
	line-height: 1.4em

.subheading-primary
	font-size: calc(1.5em + 0.390625vw);
	line-height: 160%


p
.content
	color: white-colour
	font-size: 1.2em

// Text Colours
.f-c-default
	color default-colour

.f-c-primary
	color primary-colour
	
.f-c-secondary
	color secondary-colour

.f-c-white
	color white-colour

// Text Wieghts
.f-w-bold
	font-weight 700
	
.f-w-light
	font-weight 300
	
// Text Style
.f-s-italic
	font-style italic

.f-s-normal
	font-style normal
	
// Text Aligns
.t-a-r
	text-align right
	
.t-a-l
	text-align left

.t-a-c
	text-align center
	
.t-a-j
	text-align justify

// Text Transforms
.t-t-l
	text-transform lowercase

.t-t-u
	text-transform uppercase

.t-t-c
	text-transform capitalize

*:first-child{
  margin-top: 0;
}
*:last-child{
  margin-bottom: 0;
}