html
body
    max-width: 100%
    overflow-x: hidden


a
    font-weight: bold
    letter-spacing: 1px
    font-size: 1.2em


.logo
    color: inherit
    border-bottom: 0


.d-none
    display: none

.testimonial-sec .testimonial .name, .testimonial-sec .testimonial .date
    font-weight: bold

/*

Hero Home Page

*/

.hero-home
    position relative
    overflow: hidden
    background-img('/wp-content/uploads/2023/02/Image-1.jpg','','', 50% 0%)
    margin-top -202px
    padding-top: 450px
    padding-bottom 150px
    height: 100vh

    .heading
        span
            color: blue-colour


    a
        margin-top 19px


    .social
        margin-top 200px


    .pink-shape
        position absolute
        bottom: 0
        object-fit: contain
        left: 0
        width: auto
        height: 50%

    .green-shape
        position absolute
        bottom: 170px
        object-fit: contain
        right: -50px
        width: auto
        height: 100%


    ul
        li
            a
                border-bottom: 0px
                i
                    color: blue-colour
                    transition: all 400ms ease-in-out

                    &:hover
                        color: pink-colour
                        border-bottom: 0




/*

Reception Home Page

*/


.reception
    position relative
    overflow: hidden
    padding-top 178px
    padding-bottom 150px

    .shape-one
        position: absolute
        left: 0
        top: 0
        height: 100%
        max-width: 55%

    .shape-two
        position absolute
        right: 0
        bottom: 0
        height: auto
        width: auto


    .section-wrap
        max-width: 400px
        margin-left auto
        margin-top 115px


    a
        margin-top 15px




/*

Treatments Home Page

*/

.treatments
    padding-top 0px
    padding-bottom 77px
    position relative


    .slick-slider
        padding-bottom 0px

    .service-box-link
        position relative

        .data-img
            overflow: hidden
            height: 383px
            display:inline-block;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 75%, #000 100%)
            img
                transition: all 500ms ease-in-out
                height: 100%
                object-fit: cover
                position relative
                z-index -1
                &:hover
                    transform: scale(1.3)


    .data-title
        padding: 0 10px
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;


    .slick-list
        margin-top 40px


    .section-wrap
        max-width: 380px

    .btn-treatments
            margin-top 30px



/*

Face Treatments Page

*/

.hero-face
    position relative
    padding-top 150px
    padding-bottom 150px

    .section-wrap
        a
            margin-top 30px
        span
            color: purple-colour
    

    .hero-banner-img
        position absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

        .shape-two
            position: absolute
            right: -100px
            top: -100px
            

        .img-banner
            position: absolute;
            left: 0;
            top: 0;
            height: auto;
            width: auto
            object-fit: cover;


    .shape-one
        width: auto
        position: absolute
        left: 0
        bottom: -120px


        


    .shape-two
        width: auto
        position absolute

    
.face-one
    padding-top 251px
    

    .content-right
        padding: 50px
        background: default-colour

    .image-face
        min-height: 441px
        position relative
        z-index 1
        object-fit: cover

    .shape
        position absolute
        left: -200px
        top: -100px
        width: auto
        z-index 0

.discover-face-treatments
    padding-top 135px
    position relative
    z-index 1

    .shape
        position absolute
        width: auto
        z-index 1
        right: 0
        top: 0


.face-treatments-section
    position relative
    z-index 0

    .btn-treatments
        margin-top 70px

.face-treatment-conditions
    padding-top 113px
    padding-bottom 37px
    overflow: visible

    .shape-two
        position: absolute
        left: 0
        top: 0
        z-index 1
        width: auto

.our-promise

    .gi-row
        &:nth-last-child(1)
            margin-top 35px

    .section-wrap
        text-align: center

    .bottom-pink
        border-bottom: 25px solid pink-colour

    .bottom-green
        border-bottom: 25px solid blue-colour

    .bottom-purple
        border-bottom: 25px solid purple-colour

    .data-promise
        background: default-colour
        padding: 50px
        text-align: center

    .promise-title
        margin-bottom 30px

    .icon
        margin-bottom 30px


.page-id-1566
    .testimonial-sec
        background-img('/wp-content/uploads/2023/03/testim-face.jpg','','',50% 50%) !important
        background-attachment: fixed


/*

Conditions Home Page

*/

.conditions
    padding-top 150px
    padding-bottom 99px
    overflow: hidden
    position relative

    .conditions-slider
        a
            font-weight: normal
            font-size: 1em

    .btn-conditions
        margin-top 30px

    .gi-row
        &:nth-last-child(1)
            margin-top 55px

    .shape
        position absolute
        right: 0
        top: 0
        width: auto
        object-fit: cover

    .data-block
        position relative
        z-index 10
        max-width: 300px
        height: 300px

        .data-img
          height: 300px
          width: 300px
          img
            width: 100%
            height: 100%
        &:hover

            .data-img
                overflow: hidden
                img
                    transform: scale(1.1)
                    transition: transform 400ms ease-in


        .pattern
            position absolute
            left: -60px
            top: -68px
            z-index -1
            width: 200px

        .pattern-second
            position: absolute;
            left: -55px;
            top: -68px;
            z-index: -1;
            width: 200px

        .pattern-third
            position: absolute;
            left: -90px;
            top: -90px;
            z-index: -1;
            width: 200px;

        .data-img
            img
                width: 100%
                object-fit: cover

        .data-title
            position relative
            display: inline-block
            margin: 30px 0

            &:after
                content: ''
                position absolute
                left: 0
                bottom: -13px
                height: 5px
                background: blue-colour
                width: 100%


    .slick-list
        padding-top 100px



/*

Products Home Page

*/

.products-section
    padding-top 25px
    position relative
    overflow: hidden

    .shape-second
        position: absolute;
        width: auto;
        right: -225px
        top: 0;

    .gi-row
        &:nth-last-child(1)
            padding-top 40px

    .section-wrap
        max-width: 1000px
        margin: 0 auto

    .data-products
        max-width: 1300px
        margin: 0 auto
        position relative

        .shape-one
            position absolute
            left: 55px
            top: 540px

        .data-product
            position relative
            overflow: hidden
            max-height: 750px

            .data-title
                display inline-block
                position relative
                bottom: 140px
                left: 0
                &:after
                    position absolute
                    content: ''
                    width: 100%
                    height: 7px
                    background: blue-colour
                    bottom: -15px
                    left: 0

            img
                object-fit: cover
                &:hover
                    transition: all 400ms ease-in-out
                    transform: scale(1.3)

    .data-product.second
        margin-top 200px


.success-stories
    padding-top 60px
    position relative

    .shape
        position absolute
        left: 0
        bottom: -100px
        width: auto

    .slick-slider
        padding-bottom 0px

    .service-box-link
        position relative

    .data-title
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;

    .gi-row
        &:nth-last-child(1)
            padding-top 175px

        &:nth-last-child(2)
            padding-top 75px

    .slick-dots
        bottom: -60px

        li
            button
                padding: 0;
                text-indent: -999em;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background: blue-colour;
                opacity: 0.3;
                border: none;


        li.slick-active
            button
                opacity: 1


    ul.logo-banners
        display: table;
        height: 100%;
        text-align: center
        width: 100%

        li
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            display: inline-block
            margin-bottom 0px
            margin-right 150px

            &:last-of-type
                margin-right: 0px


            img
                max-width: 140px
                margin: 0 auto
                width: auto
                object-fit: cover


/*

Faq  Home Page

*/

.faqs-sec
    padding-top 152px
    padding-bottom 248px
    .gi-row
        &:nth-last-child(1)
            padding-top 25px

            .gi-col-sm-12 + .gi-col-sm-12
                padding-top 25px

        &:nth-last-child(2)
            padding-top 50px

            .gi-col-sm-12 + .gi-col-sm-12
                padding-top 25px


    .answer-wrapper
        span
            font-size: 1em


.testimonial-sec
    padding-top 204px
    padding-bottom 250px
    background-img('/wp-content/uploads/2023/03/ld.jpg','','',50% 50%)
    background-attachment: fixed


    .testimonial
        .name
        .date
            color: white-colour
            font-size: 1.2em

        .details
            float: right


    .content-wrapper
        padding: 100px
        background: default-colour
        margin-top -300px
        border-top: 20px solid pink-colour
        border-bottom: 20px solid pink-colour






/*----============== Contact Us Page ====================---------*/

.hero-contact-us
    background-img('/wp-content/uploads/2023/03/c-us.jpg','','', 50% 39%)
    background-blend-mode: multiply
    background-color: rgba(0,0,0,0.2)
    padding: 200px 0
    position relative
    span
        color: blue-colour


    .pattern
        width: auto
        position absolute
        top: 0
        left: -200px
        height: 100%
        



.contact-form-section
    padding-top 200px
    padding-bottom 338px
    position relative

    .data-hours
    .data-location
      margin-top: 30px

    a
        font-weight: normal

    .shape
        position absolute
        left: 0
        bottom: 50%
        right: 0
        transform: translateY(50%)

    .contact-wrap
        padding: 100px
        background: white-colour

        h2
            margin-bottom 0px

        .content
            margin-top 0px


    .data-img
        height: 850px
        width: 100%
        position relative
        z-index 1
        img
            height: 100%
            width: 100%
            object-fit: cover


    .data-details
        padding: 50px
        position: relative
        z-index: 1
        width: 100%
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        height: 910px

        .data-hours
        .data-location
        .data-mobile
            .img-icon
                display: flex
                align-items: center
                justify-content: center
                i
                    margin-top 0px
                    vertical-align: middle

                h3
                    margin-top 10px
                    margin-left 20px
                    text-transform uppercase

            a
                display: block
                margin-top 15px
                transition: all 400ms ease-in-out

                &:hover
                    color: blue-colour


            .open-hours
                margin-top 15px


            span
                border-bottom: 1px solid blue-colour

    .left-section
        background-image: linear-gradient(180deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0.5368522408963585) 0%, rgba(0,0,0,0.469625350140056) 77%),url('/wp-content/uploads/2023/03/contact-us.jpg')
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        width: 106%



.contact-section
    position relative
    padding-top 200px
    padding-bottom 303px
    .box__call
        border-top: 25px solid pink-colour
        padding: 50px
        margin-bottom: 30px

        a  
            font-weight: normal
            &:hover
                color: blue-colour

    .box__address
        border-top: 25px solid blue-colour
        padding: 50px
        margin-bottom: 30px

        a
            font-weight: normal
            &:hover
                color: blue-colour

    .box
        display: flex
        flex-direction: column
        flex-basis: 100%
        justify-content: space-between
        min-height: 803px
    .box__hours
        border-top: 25px solid purple-colour
        padding: 50px

    .box__hours-icon
    .box__address-icon
    .box__call-icon
        display: flex
        align-items: center
        justify-content: start
        margin-bottom: 20px
        h3
            margin-top 5px


        i
            margin-right: 10px

    
    .box__call
    .box__address
    .box__hours
        display: block
        text-align: left

    .shape
        width: auto
        position: absolute
        left: 0
        top: 0


    .contact-wrap
        background-color: default-colour
        padding: 50px
        border-top: 25px solid pink-colour


    .gi-container > div
        display: flex
    




/*----============== Sitemap Page ====================---------*/

.sitemap
    padding-top 150px
    padding-bottom 150px

    ul.sitemap-links li:before
        font-size: 1.5em;
        content: "\ea6c";
        font-weight: 300;
        vertical-align: -0.1em;
        margin-right: 10px;


    ul
        li
            &:before
                font-family: 'Remixicon';
                color: #000;


    a
        font-weight: normal


/*----============== Website Terms And Conditions ====================---------*/

.w-t-c
    padding-top 150px
    padding-bottom 300px


    .pp-list
        margin-bottom 100px


    .list-bullet

        li
            font-size: 1.2em
            color: default-colour

    a
    p
        color: default-colour

    a
        font-weight: bold
        letter-spacing: 0px

        &:hover
            color: text-colour



/*----============== About Us Page ====================---------*/

.hero-about-us
    position relative
    padding: 305px 0

    .shape
        position absolute
        right: 0
        top: 0
        height: 100%
        width: auto

    span
        color: blue-colour


    .img-banner
        position absolute
        top: 0
        left: 0
        width: 45%
        height: 100%

    .banner-img
        object-fit: cover
        height: 100%

    .section-wrap
        text-align: right


.clinic-cares
    padding-top: 218px;
    padding-bottom: 131px;

    span
        color: pink-colour

    .data-img
        z-index 1
        width: 100%
        height: 100%
        position relative


        .shape
            position: absolute
            bottom: -120px
            right: -210px
            z-index: -1


    .section-wrap
        padding-top 150px
        padding-right 50px




.built-values
    position relative
    z-index 1
    padding-bottom: 200px

    .list-option
        padding: 50px
        position relative
        min-height: 360px

    .one
        h3
            color: pink-colour

    .two
        h3
            color: purple-colour

    .three
        h3
            color: blue-colour



    .list-option + .list-option
        margin-top 50px


    .shape
        position: absolute;
        top: -30px;
        left: -50px;
        width: 100px;
        height: auto;
        object-fit: cover;

    .gi-row
        &:nth-last-child(1)
            padding-top 75px


.w-c-u
    padding-top 146px



.why-choose-list
    background-img('/wp-content/uploads/2023/03/flip.png','','',center)
    background-attachment: fixed
    padding-top: 200px;
    padding-bottom: 280px;



    ul.wrap-elements

        li
            background: default-colour
            padding: 50px
            border-top: 20px solid pink-colour



    .container
        position relative

    .fixed
        position: fixed
        top: 0
        left: 0


    .box.show
        transform: translateX(0)
        opacity: 1

    .box:nth-child(-n + 3)
        display: block


/*----============== Meet Team Page ====================---------*/


.hero-team
    position relative
    padding-top 200px
    padding-bottom 200px
    background: linear-gradient(262deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.469625350140056) 65%), url(/wp-content/uploads/2023/03/team.jpg);
    background-position: 50% 52%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0, 0.3);
    background-blend-mode: multiply;

    .shape-first
        position: absolute;
        left: 0;
        width: auto;
        top: 0;
        height: 100%

    .shape-second
        position: absolute;
        right: 0;
        width: auto;
        top: 0;
        height: 100%

.member
    background: default-colour

.member__name
    padding-top: 30px
    text-align center
    padding-bottom: 30px
    background: default-colour

.blue__border
    border-bottom: 25px solid blue-colour

.pink__border
    border-bottom: 25px solid pink-colour

.purple__border
    border-bottom: 25px solid purple-colour

.members
    display: flex
    justify-content: center

.member__description
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0px;
    right: 0;
    z-index: 123232;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.9);
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none
    transition: all 400ms ease
    flex-direction: column

    .content
        width: 100%
        margin: 0 auto

.member-block
    max-width: 390px
    overflow: hidden
    transition: all 400ms ease-in
    cursor: pointer
    margin: 15px

    img
        transition: all 400ms ease

    &:hover
        .member__image
            transition: all 400ms ease-in
            overflow: hidden
            
            img
                transform: scale(1.2)

    


.member__description .content
    width: 50%;
    margin: 0 auto;
    background: black;
    padding: 50px;

.btn-close
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    right: 22%;


.cta-read-more
    cursor: pointer


.team-one
    padding-top 205px
    padding-bottom 306px


    .gi-row:not(:first-child)
        margin-top 35px






/*----============== Offers Page ====================---------*/

.hero-offers
    position relative
    z-index 0
    padding-top: 150px;
    padding-bottom: 165px;


    .hero-img
        position absolute
        left: 0
        top: 0
        z-index -1
        width: 100%
        height: 100%
        object-fit: cover

    .section-wrap
        text-align: right;
        margin-top: 40px
        span
            color: purple-colour

    .shape
        position absolute
        left: 0
        bottom: 0
        height: auto
        width: auto

    .img-hero
        &:after
            content: '';
            position: absolute;
            top: 0;
            transform: translateX(50%);
            width: 300px;
            height: 100%;
            background: purple-colour
            z-index: -1

    .gi-col-lg-6
        position static


.offers
    padding-top 150px
    padding-bottom 300px
    position relative

    .shape
        position: absolute;
        top: 0;
        right: -60px;
        width: auto;
        height: auto;

    .gi-row
        padding-top 70px
        &:last-of-type
            padding-top 30px
        &:first-of-type
            padding-top 0px

    .offer-box
        padding: 50px
        min-height: 494px
        background: default-colour

        .icon
            img
                width: 150px
                height: 100px
                margin: 0 auto
                object-fit: contain

        .block
            display: block
            color: white-colour !important

        &.green-border
            border-top: 25px solid blue-colour

            span
                color: blue-colour

        &.pink-border
            border-top: 25px solid pink-colour

            span
                color: pink-colour

        &.purple-border
            border-top: 25px solid purple-colour

            span
                color: purple-colour

        .last-price
            font-size: 15px
            text-decoration: line-through
            color: text-colour

        .now-price
            font-size: 35px
            font-weight: 700
            display: inline-block
            margin-top 30px

        > div
            margin-bottom 30px


        .btn
            padding: 18px 27px


/*----============== Treatments GP Page ====================---------*/

.hero-treatments
    position relative
    padding-top 150px
    padding-bottom 200px

    span
        color: pink-colour

    .banner-img
        position: absolute
        right: 0
        top: 0
        width: auto
        object-fit: contain
        height: auto

    .shape
        position absolute
        left: -110px
        top: 0
        width: auto
        height: 100%


.treatments-inner
    padding-top 202px
    padding-bottom 104px

    .treatments-list
        font-size: 0


    .treatment-image
        position relative
        z-index 1

        .shape
            position: absolute
            top: 115px
            right: -100px
            z-index: -1
            width: 100%
            height: 100%


    ul
      text-align: center
      li
        border-bottom: 5px solid pink-colour
        margin-bottom 30px

        a
          padding: 20px
          display: block
          background: default-colour
          font-size: 16px
          vertical-align: middle
          background-size: 200% 100%;
          background-position: -100%;
          position: relative;
          // -webkit-background-clip: text;
          transition: all 0.3s ease-in-out;

          &:before
            content: ''
            background: pink-colour
            display: block
            position absolute
            bottom: -3px
            left: 0
            width: 0
            height: 3px
            transition: all 0.3s ease-in-out

        &:hover
          border-bottom: 5px solid default-colour
          a
            background-position: 0
            background: pink-colour
            color: default-colour

        .list-margin
            margin-left 55px

    .title
        margin-bottom 50px
        text-align: center

        span
            color: pink-colour

    .treatment-image.first
        position relative
        z-index 1
        margin-top -150px

        img
            &:first-child
                margin-top -150px

        .shape
            right: inherit
            top: -100px;
            left: -250px;
            transform: rotate(30deg);







.treatments-inner-body
    padding-top 100px
    padding-bottom 153px
    .treatment-image
        position relative
        z-index 0
        text-align: right

        .shape
            &.left
                position: absolute;
                left: -175px;
                z-index: -1;
                bottom: -150px;
                width: 100%;
                height: 100%;

    .title
        margin-bottom 50px
        text-align: center
        span
            color: blue-colour


    .treatment-image.second
        margin-top -150px

        .shape
            &.right
                position: absolute;
                top: -150px;
                right: -175px;
                height: 100%;
                z-index: -1;

    .whole-treatments
        margin-top 170px

    ul
      text-align: center
      li
        margin-bottom 30px

        a
          padding: 20px
          display: block
          background: default-colour
          font-size: 16px
          vertical-align: middle
          background-size: 200% 100%;
          background-position: -100%;
          position: relative;
          // -webkit-background-clip: text;
          transition: all 0.3s ease-in-out;
          border-bottom: 5px solid blue-colour

          &:before
            content: ''
            background: blue-colour
            display: block
            position absolute
            bottom: -3px
            left: 0
            width: 0
            height: 3px
            transition: all 0.3s ease-in-out

        &:hover
          border-bottom: 5px solid default-colour
          a
            background-position: 0
            background: blue-colour
            color: default-colour



.treatments-facial-peel
    .treatment-image
        position relative
        z-index 1

        .shape
            position: absolute
            top: 115px
            right: -100px
            z-index: -1
            width: 100%
            height: 100%

    .title
        text-align: center
        margin-bottom 50px

        span
            color: purple-colour


    .treatments-list
        margin-top 0px


    ul
      text-align: center
      li
        border-bottom: 5px solid purple-colour
        margin-bottom 30px

        a
          padding: 20px
          display: block
          background: default-colour
          font-size: 16px
          vertical-align: middle
          background-size: 200% 100%;
          background-position: -100%;
          position: relative;
          // -webkit-background-clip: text;
          transition: all 0.3s ease-in-out;

          &:before
            content: ''
            background: purple-colour
            display: block
            position absolute
            bottom: -3px
            left: 0
            width: 0
            height: 3px
            transition: all 0.3s ease-in-out

        &:hover
          border-bottom: 5px solid default-colour
          a
            background-position: 0
            background: purple-colour
            color: default-colour



.treatments-inner-mole
    padding-top 151px

    .treatment-image
        position relative
        z-index 1

        .shape
            position: absolute
            top: 115px
            right: -100px
            z-index: -1
            width: 100%
            height: 100%

    .title
        margin-bottom 50px
        text-align: center

        span
            color: pink-colour

    .treatments-list
        margin-top 0px

    ul
      text-align: center
      li
        border-bottom: 5px solid pink-colour
        margin-bottom 30px

        a
          padding: 20px
          display: block
          background: default-colour
          font-size: 16px
          vertical-align: middle
          background-size: 200% 100%;
          background-position: -100%;
          position: relative;
          // -webkit-background-clip: text;
          transition: all 0.3s ease-in-out;

          &:before
            content: ''
            background: pink-colour
            display: block
            position absolute
            bottom: -3px
            left: 0
            width: 0
            height: 3px
            transition: all 0.3s ease-in-out

        &:hover
          border-bottom: 5px solid default-colour
          a
            background-position: 0
            background: pink-colour
            color: default-colour




.treatments-eye
    padding-top 152px
    padding-bottom 309px
    .treatment-image
        position relative
        z-index 0
        text-align: right

        .shape
            &.left
                position: absolute;
                left: -175px;
                z-index: -1;
                bottom: -150px;
                width: 100%;
                height: 100%;


    .title
        margin-bottom 50px
        text-align: center
        span
            color: blue-colour


    .treatment-image.second
        margin-top -150px

        .shape
            &.right
                position: absolute;
                top: -150px;
                right: -175px;
                height: 100%;
                z-index: -1;

    .treatments-list
        margin-top 0px

    ul
      text-align: center
      li
        margin-bottom 30px

        a
          padding: 20px
          display: block
          background: default-colour
          font-size: 16px
          vertical-align: middle
          background-size: 200% 100%;
          background-position: -100%;
          position: relative;
          // -webkit-background-clip: text;
          transition: all 0.3s ease-in-out;
          border-bottom: 5px solid blue-colour

          &:before
            content: ''
            background: blue-colour
            display: block
            position absolute
            bottom: -3px
            left: 0
            width: 0
            height: 3px
            transition: all 0.3s ease-in-out

        &:hover
          border-bottom: 5px solid default-colour
          a
            background-position: 0
            background: blue-colour
            color: default-colour


.hero-botox
  padding-top 150px
  padding-bottom 250px
  position relative

  .obj
    position absolute
    top: 0
    right: 0
    width: auto

  .img-first
    height: 810px
    position absolute
    left: 0
    top: 0

    img
      height: 100%

  .section-wrap
    span
      color: pink-colour

  .btn
    margin-top 30px



.cta-section
    background-img('/wp-content/uploads/2023/02/img-contact.jpg','','', 50% 50%)


.botox-section-one
  padding-top 0px
  position relative
    z-index 0   


    .botox-image
        position relative

    .square-pattern
        width: 400px;
        height: 300px;
        background: transparent;
        border: 25px solid #ffc6d9;
        position: absolute;
        top: 0;
        left: -160px;
        top: -100px;
        z-index: -1;


    .pattern
        background-img('/wp-content/uploads/2023/02/shape-8.png', '', '', center)
        background-size: contain
        width: 204px
        height 230px
        z-index -1

.botox-section-two
  position relative
  z-index 0
  padding-top 115px
  padding-bottom 115px

  .section-wrap
    margin-top 100px

  .back-image
    background-img('/wp-content/uploads/2023/04/bt-2.jpg','','',50% 50%)
    width: 100%
    height: 500px
    position relative
    z-index 0

    .img-small
        position: absolute
        left: -80px
        bottom: -50px
        z-index 1
        width: 250px
        max-height: 250px

  .shape-one
    width auto
    position absolute
    right 0
    top: 0

  .section-wrap
    position relative

  .botox-image
    position relative

  .pattern
    background-img('/wp-content/uploads/2023/02/shape-7.png', '', '', center)
    background-size: contain
    width: 204px
    height 230px
    z-index -1

    &.top
        position: absolute;
        top: -115px;
        left: -115px;
        width: 204px;
        z-index: -1;
        height: 230px;

    &.bottom
        position: absolute;
        bottom: -115px;
        left: -115px;
        width: 204px;
        z-index: -1;
        height: 230px;


.botox-section-three
  position relative
  z-index: 0
  padding-top 132px

  .back-image
    position absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index -1

  .section-wrap
    position relative
    z-index 1
    padding: 50px 0px 50px 0px

    &:after
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      background: #000;
      width: 128%;
      z-index: -1;
      height: 107%;
      margin-right: -65px;



  .shape-one
    width auto
    position absolute
    left 0
    top: 0
    height: 100%

  .list
    margin-top 30px
    li
      color: white-colour
      i
        display: inline-block
        vertical-align: middle

  .botox-image
    margin-top 80px

.botox-inc
  position relative
  padding-top 280px
  padding-bottom 300px
  width: 100%
  height: 100%
  z-index 0

  .data-images
    max-width: 520px
    margin-left auto
    margin-top 250px

    .gummy-smile
        width: 200px;
        height: 100%;
        position: absolute;
        right: -140px;
        top: -108px;
        object-fit: contain;
  

  .bk-shape
    background-img('/wp-content/uploads/2023/03/back-img.png')
    position absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    bottom: 0
    right 0
    z-index -1


  .shape-one
    max-width: 300px
    position absolute
    right 0
    top 0
    width auto
    height: auto
    z-index 0

  .shape-two
    width: auto
    height: auto
    position absolute
    left: 0
    bottom: 0
    z-index 0

  .pink-top
    border-top: 25px solid pink-colour
  
  .blue-top
    border-top: 25px solid blue-colour

  .botox-data
    padding: 50px
    background: default-colour

  .botox-data + .botox-data
    margin-top 50px

  .botox-title
    margin-bottom: 20px

  .data-content
    padding 50px

  .data-block
    min-height 742px

  .gi-row
    &:last-child
      margin-top 50px

.faqs-sec-botox
  padding-top 0px
  .gi-row
    &:nth-last-child(2)
    &:nth-last-child(3)
    &:nth-last-child(4)
    &:nth-last-child(5)
      padding-top 25px

     .gi-col-sm-12 + .gi-col-sm-12
      padding-top 25px

.testimonial-sec-botox
  background-img('/wp-content/uploads/2023/04/bt-4.jpg')
  .content-wrapper
    border-top 20px solid blue-colour
    border-bottom: 20px solid blue-colour
  .testimonial
    .details
      float left






/*----============== Conditions GP Page ====================---------*/

.hero-conditions
    background-img('/wp-content/uploads/2023/03/conditions-treatment-banner.jpg','','',50% 36%)
    position relative
    z-index 0
    padding-top 150px
    padding-bottom 150px

    .section-wrap
        background: default-colour
        padding: 50px
        position relative
        left: 0


        .line-back
            background: blue-colour
            height: 20px;
            width: 95px;
            position: absolute;
            left: -65px;
            top: 50px;



.conditions-list
    padding-top 193px
    padding-bottom 334px
    position relative


    .section-wrap
        h3
            margin-bottom 35px


    .shape
        position: absolute
        left: 0
        top: 50%
        width: auto
        height: auto


    .gi-row + .gi-row
        margin-top 61px

    .gi-col-lg-4:first-child
        .condition-card
            border-bottom: 25px solid purple-colour

    .gi-col-lg-4:nth-child(odd)
        .condition-card
            border-bottom: 25px solid pink-colour

    .gi-col-lg-4:nth-child(even)
        .condition-card
            border-bottom: 25px solid blue-colour
            

    .condition-card
        display: block
        height: 350px
        position relative
        z-index 0
        transition: all 400ms ease-in-out
        overflow: hidden

        .card-img
            transition: all 400ms ease

        &:hover

            .card-img
                overflow: hidden
                height: 100%
                transform: scale(1.07)



        .card-img-1
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/dark-eyes.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-2
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-2.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-3
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-3.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-4
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-4.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-5
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-5.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-6
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-6.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-7
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-7.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-8
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-8.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-9
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-9.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-10
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-10.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-11
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-11.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-12
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-12.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-13
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-13.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-14
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/Cellulite.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-15
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/angeing.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-16
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-16.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-17
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-17.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-18
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/04/old-mouth.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-19
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-19.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


        .card-img-20
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-20.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


    .card-title
        text-align: center
        position absolute
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%


    .green-line
        height: 20px
        width: 100%
        background: blue-colour
        position absolute
        bottom: -30px
        left: 0
        z-index 1

    .pink-line
        height: 20px
        width: 100%
        background: pink-colour
        position absolute
        bottom: -30px
        left: 0
        z-index 1

    .purple-line
        height: 20px
        width: 100%
        background: purple-colour
        position absolute
        bottom: -30px
        left: 0
        z-index 1


/*----============== Conditions Inner Page ====================---------*/

.hero-hair-loss
    position: relative
    padding-top: 250px
    padding-bottom: 400px
    .hair-shape-one
    .hair-shape-two
    .hair-shape-third
        width: auto


    .hero-banner
        position: absolute
        left: 0
        top: 0
        z-index 0

    .hero-shape
        width: auto
        position: absolute
        bottom: 0
        right: 0
        z-index: -1

    .section-wrap
        span
            color: blue-colour


    .hair-loss-man
        position: absolute
        z-index: -1
        transform: skew(11deg, -4deg)
        top: -190px
        left: 0
        filter: brightness(0.8)
        
    .hair-shape-one
        position: absolute
        left: -100px
        top: -100px

    .hair-shape-two
        position: absolute
        right: -100px
        top: -100px

    .hair-shape-third
        position: absolute
        left: 50%
        transform translateX(-50%) rotate(80deg)
        bottom: -100px
        z-index: 1


    .cta-contact-us
        margin-top: 30px
    

.hair-loss-first
    padding-top: 0px
    position: relative


    .hair-shape-third
        width: 200px
        position absolute
        left: 0
        top: -150px
        filter brightness(0.9)
        z-index -1

    .shape-one
        position: absolute
        left: 0
        top: 0
        width: auto
        z-index: 1

    .gi-row
        &:nth-last-child(2)
            margin-top: 75px
            margin-bottom: 75px

    .img-first
        margin-top: 150px
        border-bottom: 25px solid purple-colour
        max-width: 500px

    .img-second
        border-bottom: 25px solid blue-colour
        max-width: 500px

.hair-loss-two
    padding-top: 48px
    position: relative

    .shape-one
        width: auto
        position: absolute
        right: 0
        z-index: 1
        bottom: 0


    .data-img
        background-img('/wp-content/uploads/2023/03/h-ls-3-1.jpg','','',50% 50%)
        height: 500px
        overflow: hidden
        margin-top: 35px
        width: 100%
        background-attachment: fixed

        .cta-see-our-treatments
            position: absolute;
            bottom: 35px;
            left: 55px;

        img
            object-fit: cover
            height: 100%
            transition: all 400ms ease

            &:hover
                transform: scale(1.1)



.hair-loss-three
    padding-top: 160px
    padding-bottom: 250px
    span
        color: pink-colour


    .block__data-one
        border-top: 25px solid pink-colour
        padding: 30px

    .block__data-two
        border-top: 25px solid blue-colour
        padding: 30px
        min-height: 446px

    .block__title
        margin-bottom: 20px

    .purple-border
        border-top: 25px solid purple-colour

    .blue-border
        border-top: 25px solid blue-colour

    .pink-border
        border-top: 25px solid pink-colour




/*----============== Private GP Page ====================---------*/

.private-gp-banner
    position: relative
    padding-top 200px
    padding-bottom 200px
    background-img('/wp-content/uploads/2023/04/gp-1.jpg','','',50% 62%)
    
    
    .section-wrap
        padding: 50px
        border-top: 25px solid blue-colour

    .shape-one
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: auto

    .shape-two
        position: absolute
        bottom: 0
        right: 0
        height: 100%
        width: auto

    a
        margin-top: 10px



.gp-one
    padding-top 200px
    position relative 
    z-index: 0

    .shape-right
        position: absolute
        right: 0
        top: 0
        width: auto
        height: 100%

    .section-wrap
        max-width: 500px

    .shape-one
        width: 200px;
        position: absolute;
        top: -66px;
        right: -66px;
        z-index: -1;


    .data__img 
        margin-top 25px
        position relative

    .box
        padding: 30px;
        background: #000;
        display: inline-block;
        border-top: 25px solid #be9dde;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0px
        width: 100%;
        max-width: 555px;
        column-gap: 15px

        .h3
            margin: 0px
        
        .stat
            color: purple-colour
            margin-bottom: 0px
        

.gp-second
    padding-top 237px
    position: relative
    z-index 0


    .section-wrap
        max-width: 500px
        margin-left: auto

    .shape-one
        position: absolute
        left: 0
        top: 0
        width: auto

    .shape-second
        width: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
        z-index: -1;


    .image-second
    .image-first
        height: 400px
        object-fit: cover

        

.gp-team
    padding-top: 342px
    .member__descr
        padding: 20px 50px 20px 50px
        min-height: 410px

    .member__title
        padding: 20px 0


    .border-pink
        border-bottom: 25px solid pink-colour

    .border-blue
        border-bottom: 25px solid blue-colour

    .member-one
        margin-top: 35px


    .members
        margin-top: 30px


.price-list
    position: relative
    z-index: 1
    padding-top: 110px

    .shape-one
        position: absolute
        right: 0
        top: 0
        width: auto

    .table-one
    .table-two
    .table-three
        margin-top: 32px

    .table-one
        border-top: 25px solid blue-colour
        padding: 50px
        text-align: left

    table
        width: 100%
        display: inline-table
        margin-top: 10px

        tr
            color: white-colour
            th
                font-weight: normal

            &.border-blue
                border-bottom: 1px solid blue-colour

    .table-two
        border-top: 25px solid pink-colour
        padding: 50px
        text-align: left

    .price
        float: right

    .table-three
        border-top: 25px solid purple-colour
        padding: 50px
        text-align: left

.gp-appointment
    padding-top: 127px
    position: relative

    .contact-block
        padding: 50px
        width: 50%
        margin: 0 auto
        margin-top: 30px

    .shape-one
        width: 100%
        position absolute
        top: 0
        left: 0
        height: auto


.ndyag-one .image-face
    max-height: 340px
    min-height: inherit

.ndyag-two
    overflow: visible

    .ndyag-img-one
        height: 750px
        object-fit: cover


.page-id-441
    .testimonial-sec
        background-img('/wp-content/uploads/2023/03/Testimonial.jpg','','', 50% 50%)
        background-attachment: fixed


.page-id-1774
    .faqs-sec
        padding-top: 40px

    .testimonial-sec
        background-img('/wp-content/uploads/2023/03/testim-sec.jpg','','', 50% 50%)
        background-attachment: fixed

    


/*----============== 3D Liposuction Page ====================---------*/

.fat-melting-three

    .back-image
        max-height: 617px
        object-fit: cover


.faqs-3d
    padding-top: 180px


.testim-3d
    background-img('/wp-content/uploads/2023/03/Fat-Freezing.jpg','','',50% 50%)
    background-attachment: fixed





/*----============== Laser Hair Removal Page ====================---------*/

.laser-hair-one
    padding-top: 0px
    span
        color: blue-colour

    .img-clinic
        height: 800px
        object-fit: cover

.hair-laser-men
.hair-laser-woman
    height: 800px
    object-fit: cover

.hair-laser-first
    padding-top: 25px


    .gi-row:nth-last-child(2)
        margin-top: 10px


.sessions-laser
    padding-top: 25px
    padding-bottom: 180px
    .data-images
        margin-right: auto
        margin-left: inherit
        margin-top: 327px

        .gummy-smile
            left: -90px
            top: -45px

.testimonial-laser-hair
    background-img('/wp-content/uploads/2023/03/feedback-laser.jpg','','',50% 50%)




/*----============== Lip Fillers Page ====================---------*/

.lip-one
    .img-left
        height: 528px

        .image-face
            height: 100%
            max-height: inherit
            object-fit: cover


    i
        vertical-align: middle


.lip-two
    padding-top: 147px
    padding-bottom: 0px

    .list-option
        min-height: 100%


.lip-fourth
    background-img('/wp-content/uploads/2023/03/lip-fill-three.jpg','','',50% 50%)
    background-attachment: fixed
    padding-top: 170px

    ul.wrap-elements li
        border-top: 25px solid purple-colour


.lip-five
    padding-top 170px
    .img-first
        margin-top: 150px
        max-width: 100%

    .img-second
        margin-top: 200px
        max-width: 100%

    .hair-shape-third
        width: 200px;
        position: absolute;
        left: -100px;
        top: -450px;
        filter: brightness(0.9);
        z-index: -1;

.lips-faq
    
    .gi-row
        &:nth-last-child(4)
            margin-bottom: 30px

        &:nth-last-child(2)
            padding-top: 30px


.lips-testimonial
    background-img('/wp-content/uploads/2023/03/lips.jpg','','',50% 50%)
    background-attachment: fixed







/*----============== Radiofrequency Fillers Page ====================---------*/




.hero-radiofreq
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(262deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.47) 65%), url(/wp-content/uploads/2023/03/radiofreq.jpg);
    background-position: 50% 52%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;

    a
        margin-top: 30px


.radiofreq-one
    padding-top: 205px



.radiofreq-two

    .list
        color: white-colour

    .pattern.bottom
        left: -208px


    .back-image
        background-img('/wp-content/uploads/2023/03/radiofreq-1.jpg','','',50% 50%)


.radiofreq-three
    padding-top: 142px

.radiofreq-faq 
    .gi-row:nth-last-child(2)
        padding-top: 25px

    .h1
        margin-bottom: 30px

.radiofreq-testim
    background-img('/wp-content/uploads/2023/03/radiofreq-testim.jpg','','',50% 50%)





/*----============== Liquid Fillers Page ====================---------*/

.liquid-one
    padding-top: 160px

.liquid-two
    padding-top: 126px
    position: relative

    .treatments-list
        margin-top: 30px

    .shape-one
        position: absolute
        top: 0
        left: 0
        width: auto


.liquid-promise
    padding-top: 100px

    .data-promise
        min-height: 462px


.liquid-list
    position: relative
    padding-top: 128px
    padding-bottom: 54px

    a
        letter-spacing: 0px
        font-weight: normal
        font-size: 1em
        color: blue-colour

        &:hover
            text-decoration: underline


    .condition-card
        border-bottom: 25px solid blue-colour


    .shape-one
        position: absolute
        top: 0
        right: 0
        width: auto



    .gi-row + .gi-row
        margin-top: 30px

    .condition-card 
        .card-img-1
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/liq-o.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-2
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-3-1.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-3
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-2-1.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%

        .card-img-4
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),url('/wp-content/uploads/2023/03/card-1.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            height: 100%
            width: 100%


.liquid-testimonial
    background-img('/wp-content/uploads/2023/03/card-16.jpg','','',50% 50%)



.micro-one
    padding-top: 194px
    .section-wrap
        margin-top: 60px
        max-width: 490px
        margin-right: auto


    .pattern.bottom
        left: -196px

    .back-image
        background-img('/wp-content/uploads/2023/03/micro-1.jpg','','',50% 50%)


.micro-two
    padding-top: 153px
    .image-face
        min-height: 493px
        object-fit: cover


    .shape
        top: -250px


.micro-three

    .back-image
        max-height: 617px
        object-fit: cover

.micro-faq
    padding-top: 203px

    .gi-row:nth-last-child(2)
        padding-top 30px


    .h1
        margin-bottom: 30px


.micro-testimonial
    background-img('/wp-content/uploads/2023/03/micro-testim.jpg','','',50% 50%)


    .content-wrapper
        border-top: 20px solid purple-colour
        border-bottom: 20px solid purple-colour



/*----============== Laser Skin Treatments Page ====================---------*/

.laser-hero

    .section-wrap
        span
            color: blue-colour

.laser-face
    padding-bottom: 0px


.laser-cars
    padding-top: 199px


.laser-list
    padding-top: 34px


.laser-list .condition-card
    border-bottom: 25px solid purple-colour


.laser-ipl
    padding-top: 163px

    i
        vertical-align: middle

    .list
        margin-top: 15px

    li
        color: white-colour

    .image-face
        min-height: 544px

    .shape
        top: -450px



.laser-faq
    padding-top: 127px


.laser-testimonial
    background-img('/wp-content/uploads/2023/03/laser-testim.jpg','','',50% 50%)

    .content-wrapper
        border-top: 20px solid blue-colour
        border-bottom: 20px solid blue-colour


.thread-one
    padding-top: 154px

    .image-face
        min-height: 466px
        object-fit: cover


.thread-two
    padding-top: 136px



.thread-three
    padding-top: 46px
    .section-wrap
        margin-top: 0px
        max-width: 500px

    .back-image
        background-img('/wp-content/uploads/2023/03/thread-lift.jpg','','',50% 50%)

    li
        color white-colour


.thread-faq
    padding-top: 94px
    padding-bottom 91px


.price-list
  thead
    tr
      th
        font-weight: bold


.thread-price
  position relative
  z-index 0
  padding-bottom 250px
  table
    tbody
      display: table-header-group;
      margin-top: 5px


.thread-testimonial
  background-img('/wp-content/uploads/2023/03/face-lift-1.jpg','','',50% 5%)

  .content-wrapper
    border-top: 20px solid purple-colour
    border-bottom: 20px solid purple-colour



/*----============== Blepharoplasty Treatments Page ====================---------*/

.hero-bleph
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(262deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.47) 65%), url(/wp-content/uploads/2023/03/blepharoplasty-ld.png);
    background-position: 50% 52%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;

.bleph-two
    padding-top: 103px
    .section-wrap
        margin-top: 0px
        max-width: 500px

    .back-image
        margin-top: 70px
        background-img('/wp-content/uploads/2023/03/bleph.jpg')

    i
        vertical-align: middle

    .pattern.bottom
        left: -212px



.bleph-three
    padding-top: 73px
    .image-face
        min-height: inherit
        max-height: 372px
        object-fit: cover


    .shape
        top: -210px


.bleph-four
    padding-top: 140px
    .image-face
        max-height: 340px
        min-height: inherit


    .shape
        left: inherit
        top: -400px
        right: -100px


.bleph-faq
    padding-top: 126px
    padding-bottom: 250px
    ul
        li
            color: white-colour


.bleph-testimonial
    background-img('/wp-content/uploads/2023/03/testi.jpg')



/*----============== Facials and Peels Treatments Page ====================---------*/


.peels-one
    

    .image-face
        min-height: 460px




.peels-two
    padding-top: 112px
    padding-bottom: 163px
    .botox-data
        display: block
        font-weight: normal

    .botox-title
        display: inline-block

    .botox-data
        &:nth-child(1)
            &:hover
                h3
                    transition: all 500ms ease
                    border-bottom: 3px solid pink-colour
                


    .botox-data
        &:nth-child(2)
            &:hover
                h3
                    transition: all 500ms ease
                    border-bottom: 3px solid blue-colour


    .botox-content
        .content
            font-size: 1em
            letter-spacing: 0



.peels-conditions
    overflow: visible
    padding-top: 0px
                 


.peels-shop
    padding-top: 15px

    .back-image
        background-img('/wp-content/uploads/2023/03/skin-care.jpg')


.peels-faq
    padding-top: 89px


.testim-peels
    background-img('/wp-content/uploads/2023/03/testim-peels.jpg')




/*----============== Trichiasis Treatments Page ====================---------*/


.trich-three
    padding-top: 180px

    .back-image
        background-img('/wp-content/uploads/2023/03/eye-2.jpg')


    .section-wrap
        margin-top: 75px


    i
        vertical-align: middle


.trich-four
    background-img('/wp-content/uploads/2023/03/eye.jpg')
    .box
        min-height: 300px


    ul.wrap-elements li:nth-child(2n)
        border-top: 25px solid blue-colour


.testimonial-trich
    background-img('/wp-content/uploads/2023/03/testim-eye.jpg')



    
/*----============== Hair Loss Treatments Page ====================---------*/

.hero-hair-treatm
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(262deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.47) 65%), url(/wp-content/uploads/2023/03/hair-logo.jpg);
    background-position: 50% 52%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;

.hair-loss-two
    padding-top: 0px

.hair-loss-three
    background-img('/wp-content/uploads/2023/03/hair-treatments.jpg')
    padding-bottom: 166px



.hair-loss-four
    padding-top: 197px
    .section-wrap
        max-width: 500px
        margin-top: 0px


    .back-image
        background-img('/wp-content/uploads/2023/03/h-2.jpg')


    i
        vertical-align: middle



.hair-loss-five
    padding-top: 61px
    padding-bottom: 92px


.hair-loss-faq
    padding-bottom: 269px


.hair-loss-testimonial
    background-img('/wp-content/uploads/2023/03/h-1.jpg')


/*----============== Hair Loss Treatments Page ====================---------*/

.entro-hero
    span
        color: blue-colour

    a
        margin-top: 20px

.entro-one
    .image-face
        min-height: 441px


.entro-three
    padding-top: 53px

    .gi-row:nth-last-child(1)
        padding-top: 0px


.testimonial-entro
    background-img('/wp-content/uploads/2023/03/eye-testi.jpg')

    .content-wrapper
        border-top: 20px solid blue-colour
        border-bottom: 20px solid blue-colour
















/*----============== PlexR Mole Removal Page ====================---------*/


.mole-removal
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(262deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.47) 65%), url(/wp-content/uploads/2023/04/mole-removal.jpg);
    background-position: 50% 52%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;


.expect-mole
    background-img('/wp-content/uploads/2023/04/m-r-2.jpg')


    .box
        background default-colour
        padding: 50px
        &:nth-child(2n + 1)
            border-top: 20px solid blue-colour

        &:nth-child(2)
            border-top: 20px solid pink-colour


.expect-mole
    padding-bottom: 195px

.mole-remove-three
    padding-top: 196px
    i
        vertical-align: middle

    .back-image
        background-img('/wp-content/uploads/2023/04/m-r-3.jpg')
        height: 400px


.mole-faq
    padding-top: 91px

.testimonial-mole
    background-img('/wp-content/uploads/2023/04/plexr-remov.jpg')

    .content-wrapper
        border-top: 20px solid purple-colour
        border-bottom: 20px solid purple-colour







/*----============== Ptosis Repair Page ====================---------*/

.ptosis-one

    .image-face
        min-height: 523px


.ptosis-second
    padding-top: 116px

    .pattern
        background-img('/wp-content/uploads/2023/02/shape-6.png')
        opacity: 0.8


    i
        vertical-align: middle


    .back-image
        background-img('/wp-content/uploads/2023/04/ptosis-eyelid.jpg')


.ptosis-third
    padding-top: 94px

.ptosis-testimonial
    background-img('/wp-content/uploads/2023/04/ptosis-testim.jpg')




/*----============== Sclerotherapy Repair Page ====================---------*/


.sclero-one

    .image-face
        min-height: 439px


.sclero-two
    
    .section-wrap
        margin-top: 0px
        max-width: 500px


    .back-image
        background-img('/wp-content/uploads/2023/04/sclero-2.jpg')


    .pattern
        background-img('/wp-content/uploads/2023/02/shape-6.png')
        
        &.bottom
            left: -200px

    i
        vertical-align: middle
    
.sclero-three

    .section-wrap
        max-width: 500px
        margin-left: auto
        margin-top: 0px
        color white-colour

    .back-image
        background-img('/wp-content/uploads/2023/04/sclero-three.jpg')

    i
        vertical-align: middle

.sclero-four
    padding-top 90px


.sclero-five
    padding-top: 196px
    padding-bottom: 191px
    background-img('/wp-content/uploads/2023/04/sclero-five.jpg')
    .box
        min-height: 0px

    .box + .box
        margin-bottom: 30px


.sclero-faq
    padding-top: 208px
    padding-bottom: 292px
    
.sclero-testimonial
    background-img('/wp-content/uploads/2023/04/sclero-testim.jpg')




/*----============== Viscoderm Repair Page ====================---------*/

.visco-one
    padding-top: 174px
    .image-face
        min-height 581px


    i
        vertical-align middle

    li
        color white-colour

    ul
        margin-top: 15px


.visco-two

    .section-wrap
        margin-top: 20px


    .back-image
        background-img('/wp-content/uploads/2023/04/visco.jpg','','',50% 50%)


.visco-list
    padding-top: 128px


.visco-three

    .list-option
        min-height: 256px


.visco-faq
    padding-top: 156px




.visco-testimonial
    background-img('/wp-content/uploads/2023/04/visco-1.jpg','','',50% 50%)




/*----============== Eye Lift Page ====================---------*/
.hero-eyelift
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(262deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.47) 65%), url(/wp-content/uploads/2023/04/hero-1.jpg);
    background-position: 50% 52%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;


.eyelift-one
  padding-top: 200px
  .image-face
    min-height: 516px

.eyelift-two
  padding-top: 120px

  .back-image
    background-img('/wp-content/uploads/2023/04/img.jpg','','',50% 50%)

  i
    vertical-align: middle


.eyelift-three
  padding-top: 85px
  

.eyelift-four
  .list-option
    min-height: 321px

.eyelift-faq
  padding-top: 140px

.eyelift-testim
  background-img('/wp-content/uploads/2023/04/testim.jpg','','',50% 50%)





/*----============== Body Treatments Page ====================---------*/


.body-one
    padding-top: 45px

    .conditions-slider
        padding-bottom: 0px


.body-promise
    padding-top: 103px
    .data-promise
        min-height: 563px



.body-testimonial
    background-img('/wp-content/uploads/2023/04/banner-body.jpg','','',50% 50%)





/*----============== Direct Eyebrow Lift Page ====================---------*/

.brow-hero
    
    .banner-img
        height: 100%

.brow-one
    padding-top: 190px
    .gi-row
        &:nth-last-child(1)
            padding-top: 0px

.brow-two
    .back-image
        background-img('/wp-content/uploads/2023/04/brow-lift.jpg','','',50% 50%)


    .section-wrap
        max-width: 450px


.brow-three

    .list-option
        min-height: 289px


.brow-testimonial
    background-img('/wp-content/uploads/2023/04/testimonial.jpg','','',50% 25%)


/*----============== Led Light Therapy Page ====================---------*/

.hero-led
    padding-bottom: 0px


.led-one

    .section-wrap
        padding-top: 100px

.led-two
    padding-top: 56px

.led-three
    background-img('/wp-content/uploads/2023/04/laser-1.jpg','','',50% 50%)
    background-attachment: fixed
    padding-top: 150px
    padding-bottom: 150px
    .box
        height: 100%
        padding 50px
        background: default-colour

        &.pink
            border-top: 20px solid pink-colour

            h3
                color: pink-colour
        &.blue
            border-top: 20px solid blue-colour

            h3
                color: blue-colour

        i
            vertical-align: middle

        li
            color: white-colour


.led-four
    padding-top: 200px
    .section-wrap
        margin-top: 0px

    .back-image
        background-img('/wp-content/uploads/2023/04/led-light.jpg','','',50% 50%)


.led-faq
    padding-top: 85px



.led-testimonial
    background-img('/wp-content/uploads/2023/04/led-light-1.jpg','','',50% 50%)



/*----============== Ectropion Therapy Page ====================---------*/

.hero-ectropion
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(262deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.47) 65%), url(/wp-content/uploads/2023/04/eyelids.jpg);
    background-position: 50% 38%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;


.ectrop-two

    .back-image
        margin-top: 0px
        background-img('/wp-content/uploads/2023/04/sec-img.jpg','','',center)


.ectrop-faq
    padding-top: 96px


.testimonial-ectrop
    background-img('/wp-content/uploads/2023/04/ectropion.jpg','','',center)
    background-attachment: fixed




/*----============== Xanthelasma Removal Page ====================---------*/

.xant-one
  padding-top: 50px
  .section-wrap
    max-width: 450px
    margin-top: 45px


.xant-two
  padding-top: 200px
  .section-wrap
    margin-top: 0px



.xant-three
  background-img('/wp-content/uploads/2023/04/img-2.jpg','','',center)

  ul.wrap-elements li
    border-top: 20px solid blue-colour
    min-height: 400px


.xant-faq
  padding-top: 200px

.xant-testimonial
  background-img('/wp-content/uploads/2023/04/xant-testim.jpg','','',center)





/*----============== Skin Peel Page ====================---------*/


.skin-peel-one

    i
        vertical-align: middle

    li
        color: white-colour

    .image-face
        min-height: 466px

    ul
        margin-top: 10px


.skin-peel-two
    padding-top: 134px



.skin-peel-three
    padding-top: 124px


.skin-peel-fourth
    padding-top: 150px
    padding-bottom: 150px
    background-img('/wp-content/uploads/2023/04/image-2.jpg')
    background-attachment: fixed

.skin-peel-five
    padding-top: 200px

    .back-image
        background-img('/wp-content/uploads/2023/04/image-3.jpg')

    .section-wrap
        margin-top: 0px


.skin-peel-six
    padding-top: 75px


.skin-peel-testimonial
    background-img('/wp-content/uploads/2023/04/image-4.jpg')





/*----============== Under Eye Filler Page ====================---------*/

.hero-tear
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(262deg, rgba(1,0,4,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.47) 65%), url(/wp-content/uploads/2023/04/first-img.jpg);
    background-position: 50% 52%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;



.tear-second
    padding-top: 150px

    .image-face
        min-height: 460px
        object-fit: cover


.tear-three
    margin-top: 0px

    .back-image
        background-img('/wp-content/uploads/2023/04/third-image.jpg','','',50% 50%)
        margin-top: 0px
        

.tear-testimonial
    background-img('/wp-content/uploads/2023/04/fourth-image.jpg','','',50% 50%)





/*----============== Non Surgical Nose Job Page ====================---------*/

.nose-one
    padding-top 200px
    padding-bottom: 169px
    .section-wrap
        margin-top: 0px

.nose-two
    background-img('/wp-content/uploads/2023/04/nose-2.jpg','','',50% 50%)
    .box
        min-height: 633px


.nose-faq
    padding-top: 207px


.nose-testimonial
    background-img('/wp-content/uploads/2023/04/nose-job.jpg','','',50% 50%)





.slider-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider img {
  width: 33.33%;
  height: auto;
}

.slider.slide-1 {
  transform: translateX(0%);
}

.slider.slide-2 {
  transform: translateX(-100%);
}

.slider.slide-3 {
  transform: translateX(-200%);
}


.page-id-1030
    overflow: hidden

